@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Poppins";
    
}



.padding_content{
    display: flex;
    align-items: center;
    line-height: 2rem;
    flex-direction: column;
    padding:30px;
}
