@use "../Article/" as a;

.section{
    display: grid;
    grid-template-columns: 626px 502px;
    
    margin-top: 500px;
    background-color: #F5FDFF;



    #{&}__icons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    
    
        &_contain{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-inline:60px;
            width: 100%;

            & span{
                margin-top: 10px;
            }
        }


    }
    #{&}__image{
        margin-inline: 166px 129px;
    }


}



.article--section{
    margin-top: 70px;
    margin-inline: 236px;
    text-align: center;
    height: 119px;
    width: 967px;
    
}