@use "../Banner2/" as banner;

.footer {
  margin-bottom: 200px;
  &__banner {
    margin-top: 160px;
    @extend .banner2;
    background: #364250;
    margin-inline: 32px;
    height: 331px;
    width: 1376px;

    & h1 {
      padding-top: 77px;
      font-family: Poppins;
      font-size: 48px;
      font-weight: 700;
      text-align: center;
    }

    &_inputs {
      margin-top: 32px;
      &_input {
        width: 310px;
        height: 55.48px;
        border: none;
      }
      &--button {
        background-color: #19b885;
        height: 55.47px;
        width: 195px;
        border: none;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
      }
    }

    & p {
      margin-top: 17.52px;
    }
  }

  &__content {
    height: 317px;
    width: 1080.47px;
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    margin-inline: 147px 212px;


    &_items{


      &_item{
        margin-top: 37px;

        & section{
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        & #icons{
          margin-top: 60px;
        }
      }
    }

    &_list {
      list-style: none;
      margin-top: 30px;

      &_items {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 100;
        line-height: 28px;


        
      }
    }
  }
}
