@use "../Article/" as a;
@use "../boilerplate" as b;

.interface {
  background-color: #f5fdff;
  height: 2220px;
  width:1440px;
  #{&}__items {
    display: flex;
    justify-content: space-around;
    margin: 150px 80px;
    &_details {
      padding: 20px;
      width: 50%;
    }
  }
}

.article--interface {
  height: 127.96px;
  width: 1006px;
  margin: 162px 229px 113px 205px;


  & h1{
    font-size: 36px;
    font-weight: 700;
  }

  & p{
font-size: 17px;
text-align: left;
  }
}
